<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../aba-widget/aba-widget.html">

<link rel="import" href="../abas-widget-behavior/abas-widget-behavior.html">
<link rel="import" href="../abas-widget-framework/abas-widget-framework.html">
<link rel="import" href="../abas-localize-mixin/abas-localize-mixin.html" />

<link rel="import" href="../abas-config/abas-config-meta.html">

<link rel="import" href="../abas-styles/abas-styles.html">
<link rel="import" href="../abas-widget-style/abas-widget-style.html">


<link rel="import" href="../abas-database-picker/abas-database-picker.html" />
<link rel="import" href="../abas-field-list/abas-field-list.html" />

<link rel="import" href="../prism-event-bus/prism-event-bus.html">

<link rel="import" href="../paper-card/paper-card.html" />
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../paper-listbox/paper-listbox.html" />


<dom-module id="aba-record-info-widget">
    <template>
        <abas-config-meta data="{{_configuration}}"></abas-config-meta>

        <style include="abas-widget-style">
            paper-input {
                --paper-input-container-disabled: {
                    opacity: 1;
                }
            }

            paper-card {
                width: 100%;
                margin: 5px;
            }

            hr {
                background: #1bbba3;
                height: 1px;
            }

            .flex {
                margin: 0 -5px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
            }

            .flex-item {
                margin: 0 5px;
                flex: 1 0 auto;
            }
        </style>

        <aba-widget>
            <div slot="content"
                 title="">

                <div class="widgettitle">[[title]]</div>
                <div class="circle"></div>
                <hr/>

                <template is="dom-repeat"
                          items="[[_getFields(fields,fields.*,fields.splices)]]">
                    <paper-input label="[[item.name]]"
                                 type="text"
                                 value="{{_getFieldValue(item.variable, data.*)}}"
                                 disabled></paper-input>
                </template>
            </div>
            <div slot="settingsForm"
                 title="">
                <dom-if if="[[editMode]]">
                    <template>
                        <!-- First box: Title, comapny, message bus IN -->
                        <paper-card heading="[[localize('settings.caption.general')]]">
                            <div class="card-content">
                                <ui-text-field label="[[localize('settings.title')]]" text="{{title}}"></ui-text-field>
                                <ui-auto-complete label="[[localize('settings.erpCompany')]]" items="[[_companies]]" selected-item="{{company}}"></ui-auto-complete>
                                <abas-database-picker company="[[company.title]]" selection="{{vartab}}" label="[[localize('settings.tableOfVariable')]]"></abas-database-picker>
                                <paper-input type="text" value="{{messageBusIn}}" label="[[localize('settings.messageBusIn')]]"></paper-input>
                            </div>
                        </paper-card>

                        <!-- Output fields -->
                        <paper-card heading="[[localize('settings.caption.output')]]">
                            <div class="card-content">
                                <slot name="fields"></slot>
                                <abas-field-list fields="{{fields}}" company="[[company.title]]" vartab="[[vartab.tableSpec]]">
                                    <slot name="fieldProperties"></slot>
                                </abas-field-list>
                            </div>
                        </paper-card>
                    </template>
                </dom-if>
            </div>
            <div slot="optionsMenu">
                <!-- Additonal settings menu items -->
            </div>
        </aba-widget>
    </template>

    <script>
        class AbaRecordInfoWidget extends abasWidgets.CompanySettingsBehavior(abasWidgets.CompanyBehavior(Polymer.AbasLocalizeMixin(ABAS.WidgetBehavior(Polymer.Element)))) {
            constructor() {
                super();
                this._boundfireUpdateAttribute = this._fireUpdateAttribute.bind(this);
            }
            static get is() { return 'aba-record-info-widget' }
            static get properties() {
                return {
                    fallbackLanguage: { value: "en" },
                    _configuration: { type: Object },
                    company: { type: Object },
                    title: { type: String },
                    vartab: { type: Object },
                    fields: { type: Array, value: [] },
                    messageBusIn: { type: String, observer: '_messageBusInChanged' }
                };
            }

            static get observers() {
                return [
                    '_settingsChanged(company)'
                ];
            }

            /**
              * Called every time the element is inserted into the DOM. Useful for 
              * running setup code, such as fetching resources or rendering.
              * Generally, you should try to delay work until this time.
              */
            connectedCallback() {
                super.connectedCallback();
                this.loadResources(this.resolveUrl(this.importPath + 'locales.json'));
                this.addEventListener('settings-closed', this._boundfireUpdateAttribute);
            }

            disconnectedCallback() {
                super.disconnectedCallback();
                this.removeEventListener('settings-closed', this._boundfireUpdateAttribute);
                this._messageBusInChanged(undefined, this.messageBusIn);
            }

            _registerListener(newValue, oldValue, cb) {
                if (!!oldValue) {
                    PrismEventBus.unregister(this, [oldValue]);
                    this.removeEventListener(oldValue, cb);
                }
                if (!!newValue) {
                    PrismEventBus.register(this, [newValue]);
                    this.addEventListener(newValue, cb);
                }
            }

            _messageBusInChanged(newValue, oldValue) {
                this._registerListener(newValue, oldValue, this._incomingMessage);
            }

            _incomingMessage(e) {
                e.stopPropagation();

                this.objectID = e.detail.id;
                this._getData();
            }

            _settingsChanged(company) {
                //console.log("_settingsChanged")
                //console.log(company)
            }

            _getData() {
                // get header fields
                let headFields = []
                for (let filter of this.fields) {
                    headFields.push(filter.variable);
                }
                let query = headFields.join(',');
                if (this.company && this.objectID && this.vartab && this.objectID) {
                    // selection
                    let headers = new Headers();
                    headers.set("accept", "application/abas.objects+json");
                    headers.set("content-type", "application/json");
                    auth0Fetch(`${this._configuration.api.erpBaseURL}${this.company.href}/obj/data/${this.vartab.tableSpec}/${this.objectID}/?headFields=${query}`, {
                        headers: headers
                    }).then((response) => {
                        if (response.ok) {
                            return response.json()
                        }
                        throw new Error('Pffrrrrr')
                    }).then(data => {
                        this.set('data', data);
                    });
                }
            }

            _getFieldValue(field) {
                if (this.data) {
                    let fields = this.data.content.data.head.fields;
                    if (fields[field]) {
                        if (fields[field].hasOwnProperty('text')) {
                            return fields[field].text;
                        } else {
                            return fields[field].value;
                        }
                    } else {
                        return "";
                    }
                } else {
                    return "";
                }
            }

            _getFields() {
                this._getData();
                return JSON.parse(JSON.stringify(this.fields));
            }

            _fireUpdateAttribute() {
                this.fireAttributesUpdate([{
                    name: 'company',
                    value: this.company
                }, {
                    name: 'title',
                    value: this.title
                }, {
                    name: 'vartab',
                    value: this.vartab
                }, {
                    name: 'messageBusIn',
                    value: this.messageBusIn
                }, {
                    name: 'fields',
                    value: this.fields
                }
                ]);
            }
        }
        customElements.define(AbaRecordInfoWidget.is, AbaRecordInfoWidget);
    </script>
</dom-module>